<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.ecnu.bioinfo.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="BioPlatform Perspective"
            class="edu.ecnu.bioinfo.intro.Perspective"
            id="edu.ecnu.bioinfo.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.ecnu.bioinfo.application"
            name="bioinfolab platform">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="bioinfolab platform">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="preferenceCustomization"
               value="preferences.ini">
         </property>
    </product></extension>
     <extension point="org.eclipse.ui.intro"><intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" id="edu.ecnu.bioinfo.intro">
      </intro><introProductBinding introId="edu.ecnu.bioinfo.intro" productId="edu.ecnu.bioinfo.product">
      </introProductBinding></extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="edu.ecnu.bioinfo.intro"
            content="introContent.xml"
            id="edu.ecnu.bioinfo.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fileToolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="editToolbar">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.ecnu.bioinfo.preferences.ToolPreferencePage"
            id="edu.ecnu.bioinfo.preferences.ToolPreferencePage"
            name="Toolbox Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ecnu.bioinfo.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
       <view
            allowMultiple="false"
            class="edu.ecnu.bioinfo.views.DataView"
            icon="icons/eview16/company.png"
            id="edu.ecnu.bioinfo.views.DataView"
            name="data"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.ecnu.bioinfo.views.ResultView"
            icon="icons/eview16/person.png"
            id="edu.ecnu.bioinfo.views.ResultView"
            name="result"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/progress.gif"
            id="edu.ecnu.bioinfo.views.progress"
            name="Progress"/>
      <view
            allowMultiple="false"
            class="edu.ecnu.bioinfo.views.BrowserView"
            icon="icons/eview16/person.png"
            id="edu.ecnu.bioinfo.views.BrowserView"
            name="Browser"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
         targetID="*">
         <!--
     	 <view
      	id="edu.ecnu.bioinfo.views.DataView"
      	relative="org.eclipse.ui.editors"
      	ratio="0.3f"
      	relationship="top"
      	minimized="false">
      	</view>
      	!-->
      	</perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="edu.ecnu.bioinfo.views.ConsoleFactory"
            label="Console">
      </consoleFactory>
   </extension>

</plugin>
